:root {
    --queen-border-size: 0.6rem;
    
    /* Colours for different placements */
    --win-color: rgb(65, 105, 225);
    --top2-color: rgb(0, 191, 255);
    --high-color: rgb(173, 216, 230);
    --low-color: rgb(255, 182, 193);
    --bottom-color: rgb(255, 99, 71);
    --elim-color: rgb(255, 0, 0);
    --quit-color: rgb(219, 112, 147);
    --winner-color: rgb(255, 255, 0);
    --runnerup-color: rgb(192, 192, 192);
    --elimfinale-color: rgb(223, 143, 107);
    --light-accent: rgba(234,195,217,255);
    --lighter-accent: rgb(224, 212, 219);
    --dark-accent: rgba(50,17,35,255);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    padding-top: 75px;
    margin: 0;
}

h2 {
    margin: 0;
    padding: 1.5rem 0 1rem 0;
}

#main-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-accent);
    padding: 0 2rem;
    border-bottom: 0.2rem var(--dark-accent) solid;
    position: fixed;  
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    width: 100w;
}

#nav-div {
    background-color: var(--lighter-accent);
    padding:  0;
}

#info-button {
    border-radius: 4rem;
    font-size: 1.5rem;
    height: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    /* letter-spacing: 1px; */
}

#episode-info {
    height: 13rem;
    background-color: var(--lighter-accent);
    width: 100w;
    display: flex;
    flex-direction: column;
}

#synopsis {
    font-style: italic;
}

#queens-div {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
    width: min(100vw, 1300px);
    justify-self: center;
    width: 100w;
}

.queen-image-box {
    width: 200px;
    height: 200px;
    margin: var(--queen-border-size);
    /* border-radius: 1rem; */
}

.queen-image {
    width: 200px;
    /* height: 200px; */
}

.queen-image-box.win, 
.queen-image-box.top2 {
    border: var(--win-color) solid var(--queen-border-size);
    margin: 0;
}

.queen-image-box.bottom, 
.queen-image-box.eliminated {
    border: var(--elim-color) solid var(--queen-border-size);
    margin: 0;
}

.queen-image-box.eliminated.finale {
    border: var(--elimfinale-color) solid var(--queen-border-size);
    margin: 0;
}

.queen-image-box.winner {
    border: var(--winner-color) solid var(--queen-border-size);
    margin: 0;
}

.queen-image-box.runnerup {
    border: var(--runnerup-color) solid var(--queen-border-size);
    margin: 0;
}

.queen-image-box.quit {
    border: var(--quit-color) solid var(--queen-border-size);
    margin: 0;
}

.queen-image.out,
.queen-image.quit,
.queen-image.eliminated {
    filter: grayscale(1);
}

.returningRadio {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0 0;
}

.radio-elements {
    display: block;
    margin: 0 1rem;
}

input[type=radio] {
    display: block;
}

.radio-elements > label {
    display: inline-block;
    text-align: center;
}

#nav-weeks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0 1.5rem 0;
}

#nav-results {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

select, button {
    font-size: 1.1rem;
    padding: 0.2rem 1rem;
    border-radius: 0.4rem;
    border: 0;
    text-align: center;
}

select#week-select {
    border: rgba(50,17,35,255) 0.2rem solid;
    /* background-color: var(--light-accent); */
    color: var(--dark-accent);
    font-weight: bold;
    padding: 0.3rem 1.2rem;
}

/* Results table CSS */
#results-table-div {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
}

td, th {
  padding: 0.2rem;
}
  
th {
  background-color: rgb(237, 237, 242);
}

tr {
    background-color: rgb(249, 249, 255);
}

tr.out {
    background-color: auto;
}

#results-table {
    font-size: 1.5rem;
}

td.result {
    width: 5rem;
}

td.result.finale-cell {
    width: auto;
    padding: 0 1rem;
}

th.queen-name {
    text-align: left;
    padding-right: 1.5rem;
}

.ppe-cell {
    padding-left: 1rem;
}

.episode-type {
    font-size: 0.9rem;
}

#results-table td.result.win,
#results-table td.result.winner {
    background-color: var(--win-color);
}

#results-table td.result.top2 {
    background-color: var(--top2-color);
}

#results-table td.result.high {
    background-color: var(--high-color);
}

#results-table td.result.low {
    background-color: var(--low-color);
}

#results-table td.result.btm {
    background-color: var(--bottom-color);
}

#results-table td.result.elim {
    background-color: var(--elim-color);
}

#results-table td.result.quit {
    background-color: var(--quit-color);
}

#results-table td.result.winner {
    background-color: var(--winner-color);
}

#results-table td.result.runnerup {
    background-color: var(--runnerup-color);
}

#results-table td.result.finale-cell.elim {
    background-color: var(--elimfinale-color);
}

#results-nav-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 1rem;
}