:root {
    --queen-border-size: 0.6rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    box-sizing: border-box;
}

#episode-info {
    height: 11rem;
}

#synopsis {
    font-style: italic;
}

#queens-div {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    width: min(100vw, 1300px);
    justify-self: center;
}

.queen-image-box {
    width: 200px;
    height: 200px;
    margin: var(--queen-border-size);
    /* border-radius: 1rem; */
}

.queen-image {
    width: 200px;
    /* height: 200px; */
}

.queen-image-box.win, 
.queen-image-box.top2 {
    border: greenyellow solid var(--queen-border-size);
    margin: 0;
}

.queen-image-box.bottom, 
.queen-image-box.eliminated {
    border: red solid var(--queen-border-size);
    margin: 0;
}

.queen-image-box.quit {
    border: darkred solid var(--queen-border-size);
    margin: 0;
}

.queen-image.out,
.queen-image.quit,
.queen-image.eliminated {
    filter: grayscale(1);
}

.returningRadio {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0 0;
}

.radio-elements {
    display: block;
    margin: 0 1rem;
}

input[type=radio] {
    display: block;
}

.radio-elements > label {
    display: inline-block;
    text-align: center;
}

#nav-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 1rem 0;
}